body{}
header{
    padding: 20px;
}
.container{width: 1000px;margin: auto;}
.logo{
    width: 20%;
    float: left;
}
.logo img{}
nav{
    width: 80%;
    float: left;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: right;
}
nav ul li{
    display: inline-block;
    font-size: 20px;
    padding: 14px;
}
nav ul li a{}
img{max-width: 100%}
.about{}
.time{
 text-align: center;
 font-size: 60px;
 margin: 0;
 color: #333;
 }
.online{color: #0469ff}
.nelson{text-align: center; margin: 0}
.image{background-color: #e6d4d42e; text-align: center; }
.column{
    width: 50%;
    float: left;
}
.one{
    text-align: right;
    padding: 20px;
}
.two{
    text-align: left;
    padding: 20px;
    margin: 0;
}
.three{
    margin: 0;
    color: red;
    font-size: 40px;
}
.lorem{
    margin: 0;
    font-size: 20px;
}
.success{
    margin: 0;}


.down{

padding: 100px 0;
}
.box{

width: 33%;

float: right;

padding: 10px;

box-sizing: border-box;

border border-radius: 2;
}
.part{

background: #bfbfbf;

padding: 30px;

border-radius: 20px;
}
.part img{

width: 100%;

height: 300px;
}
.part h3{

}
.part p{

}
